<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Busqueda de Folio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>
    <section class="form-login">
        <form onsubmit="search()">
            <h1>Busqueda de registros</h5>
                {% if folio %}
                <div class="folio_container">
                    <p>
                        Su registro se realizo correctamente su folio es:
                    </p>
                    <p style="font-weight: bold;">{{folio}}</p>
                </div>
                {% endif %}
                <input class="controls" type="text" name="Folio" value="" placeholder="Folio visualizar sus datos" required>
                <input class="buttons" style="margin-bottom: 30px;" type="submit" name="" value="Buscar">

                <label style="margin-top: 20px;" for="nom">Nombre del niño completo</label><br>
                <input type="text" name="nomb" id="nom" disabled><br>
                <label for="nom">Nombre del tutor completo</label><br>
                <input type="text" name="nombTutor" id="nomTuto" disabled><br>
                <label for="start">Fecha de nacimiento del niño</label><br>
                <input type="date" id="start" id="trip-start" name="trip-start" min="1998-01-01" max="2018-12-31" disabled>
                <p>Sexo:
                    <input type="radio" id="hm" name="hm" value="h" disabled> Hombre
                    <input type="radio" id="hm" name="hm" value="m" disabled> Mujer
                </p>
                <label for="ed">Edad</label><br>
                <input type="number" name="edad" id="ed" min="3" max="6" disabled><br>
                <label for="nom">CURP</label><br>
                <input type="text" name="curp" id="curp" disabled><br>
        </form>
    </section>

    <script src="{{ url_for( 'static', filename='js/jquery/jquery-3.5.1.min.js' )}} "></script>
    <script>
        function search() {
            console.log("Hola");
        }
    </script>
</body>

</html>