<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="header">
        <h2 class="logo">MIS PRIMERAS LETRAS</h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

        <ul class="menu">
            <li><a href="/login">Iniciar sesion </a></li>
            <li><a href="/sign_up">Registrarse</a></li>
            <li><a href="#">Direccion</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">OFERTA EDUCATIVA</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Inglés</a></li>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">Música</a></li>
                    <li><a href="#">arte</a></li>
                    <li><a href="#">neuromotor</a></li>
                    <li><a href="#">Talleres extracurriculares</a>
                        <ul>
                            <li><a href="#">Natación</a></li>
                            <li><a href="#">fútbol</a></li>
                            <li><a href="#">ballet</a></li>

                    </li>
                    </ul>
            </li>
            <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
            </ul>
    </div>


    <div class="content">


        <center>
            <img src="{{ url_for('static', filename='assets/images/kinder1.jpg') }}" alt="">

        </center>

        <p>
            Misión “Formar niños de forma integral, con valores, principios, seguridad emocional y calidad académica”
            <br>
            <br>
            <br> Visión “Obtener reconocimiento como una de las mejores escuelas, formando a mejores personas con calidad humana y académica desde el inicio de su educación”
            <br>
            <br>
            <br>

        </p>
    </div>
    <div class="wrapper">
        <div class="slider" id="slider">
            <ul class="slides">
                <li class="slide" id="slide1">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo1.jpeg') }}" alt="photo 1">
                    </a>
                </li>
                <li class="slide" id="slide2">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo2.jpeg') }}" alt="photo 2">
                    </a>
                </li>
                <li class="slide" id="slide3">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo3.jpeg') }}" alt="photo 3">
                    </a>
                </li>
                <li class="slide" id="slide4">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo4.jpeg') }}" alt="photo 4">
                    </a>
                </li>
                <li class="slide" id="slide5">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo5.jpeg') }}" alt="photo 5">
                    </a>
                </li>
                <li class="slide">
                    <a href="#">
                        <img src="{{ url_for('static', filename='assets/images/photo1.jpeg') }}" alt="photo 1">
                    </a>
                </li>
            </ul>
            <ul class="slider-controler">
                <li><a href="#slide1">&bullet;</a></li>
                <li><a href="#slide2">&bullet;</a></li>
                <li><a href="#slide3">&bullet;</a></li>
                <li><a href="#slide4">&bullet;</a></li>
                <li><a href="#slide5">&bullet;</a></li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <p class="contacto">
                            CONTACTO
                        </p>
                        <p> Informacion importante</p>

                        <p class="titulo-contacto">
                            <BR> DIRECCION
                            <p>

                                <p> Jhbsusbsabkbxaxbakxab</p>
                                <br>
                                <i class="fas fa-map-marker-alt" id="localizacion"></i>
                                <span class="titulo-colonia"> Puebla, Puebla </span>

                            </p>


                    </div>

                </div>
                <div class="col-md-4">



                </div>
            </div>
        </div>
    </div>

    <div id="pie-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="titulo-footer">
                        Copyright 02020 Todos los derechos reservados |
                        <span class="span-subtitulo"> BUAP </span>

                    </p>

                </div>

            </div>

        </div>


    </div>



</body>

</html>